:root {
    --initial-track-width: 88px;
    --focus-border: 10px solid white;
    --share-button-margin: 10px;
    --share-button-border: 3px;
}

/*General*/
* {
    font-family: "Major Mono Display", sans-serif;
    font-size: 18px;
    -webkit-appearance: none;
    border-radius: 0px;
    user-select: none;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

*:focus {
    outline: none;
}

/* Container */
#track-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

/* Track */
.track {
    flex: 0 0 var(--initial-track-width);
    height: 100%;
    transition: flex 1s ease;
    cursor: pointer;
    box-sizing: border-box;
}
.track img, .track video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Share button */
button {
    position: absolute;
    right: var(--share-button-margin);
    bottom: var(--share-button-margin);
    appearance: none;
    font: sans-serif;
    background: black;
    color: white;
    border: none;
    border-radius: 0;
    padding: 10px;
    cursor: pointer;
}
button:hover, button:focus {
    right: calc(var(--share-button-margin) - var(--share-button-border));
    bottom: calc(var(--share-button-margin) - var(--share-button-border));
    border: var(--share-button-border) solid white;
}
button.shareDisabled {
    cursor: default;
}
button.shareDisabled:hover, button.shareDisabled:focus {
    right: var(--share-button-margin);
    bottom: var(--share-button-margin);
    border: none;
}