/*Import font*/
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

:root {
    --initial-track-width: 88px;
}

/*General*/
* {
    font-family: "Major Mono Display", sans-serif;
    font-size: 18px;
    -webkit-appearance: none;
    border-radius: 0px;
    user-select: none;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

*:focus {
    outline: none;
}

/* Container */
#track-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

/* Track */
.track {
    flex: 0 0 var(--initial-track-width);
    height: 100%;
    transition: flex 1s ease;
    cursor: pointer;
    box-sizing: border-box;
}
.track img, .track video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.track:focus {
    border: 10px solid white;
}
